SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_BUCKET=
B2_KEY_ID=
B2_APPLICATION_KEY=
APPLE_PROVIDER_SHORTNAME=
APPLE_TRANSPORTER_USER=
APPLE_TRANSPORTER_PASSWORD=
WORKER_ID=worker-1
POLL_INTERVAL_MS=15000
